doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Title
        link(href='./css/style.css' rel='stylesheet')
        script(src="./js/main.js" defer) 
    body 

        nav 
            a(href='/') Home 
            br
            a(href='/kokeilu') Testi
        block content


    